@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 50px;
}
.orange-color {
  color: orange;
}

.flexible-container {
  display: flex;
}
.top-banner {
  background-image: url(../images/top-banner.png);
  background-repeat: no-repeat;
}

.half-width {
  width: 50%;
  margin-left: 5%;
}
.half-width img {
  width: 80%;
}
.linkedin-id {
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  border-radius: 12px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 18px;
}
p {
  text-align: justify;
}
.dream-big {
  background-image: url(../images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.experience-box {
  width: 40%;
  margin: 5%;
  box-shadow: 8px 8px 24px gray;
  padding: 20px;
  border-radius: 12px;
}
.experience-banner {
  background-image: url(../images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
#full-stak-developer {
  border-left: 7px solid tomato;
}
#beginner-developer {
  border-left: 7px solid blue;
}
footer p {
  text-align: center;
}
